body{  
  color:#575757;
  color:#666666;
  font-family: 'Open Sans';
}
h1, h2, h3, h4, h5{
  color:#666666;
}
a {
  text-decoration: none;
}
.normal-title{
  color: #575757;
  font-weight: bold;
}
.carousel{
  overflow: hidden;
}
.call-to-action {
  border: 2px solid #fff;
  padding: 12px 28px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
}
.block-b .call-to-action{
  color: #ec6901;  
  border-color: #ec6901;
}
.right-block img{
  margin-bottom: 20px;
}

.block-c .block-item:hover img{
  filter: brightness(0) invert(1);
}

.mt-1r{
margin-top: 1rem;
}
.mt-2r{
margin-top: 2rem;
}
.mt-3r{
margin-top: 3rem;
}
.mt-4r{
margin-top: 4rem;
}
.mt-5r{
margin-top: 5rem;
}
.mt-6r{
margin-top: 6rem;
}
.mt-7r{
margin-top: 7rem;
}
.mt-8r{
margin-top: 8rem;
}
.mb-1r{
margin-bottom: 1rem;
}
.mb-2r{
margin-bottom: 2rem;
}
.mb-3r{
margin-bottom: 3rem;
}
.mb-4r{
margin-bottom: 4rem;
}
.mb-5r{
margin-bottom: 5rem;
}
.mb-6r{
margin-bottom: 6rem;
}
.mb-7r{
margin-bottom: 7rem;
}
.mb-8r{
margin-bottom: 8rem;
}
.navbar-light .navbar-toggler{
  color:#111;
  border: 0;
}
.content ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.content li {
  padding-left: 30px;
  margin-bottom: 16px;
  
}
.content ul li:before {
  color: #ec6901;  
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:30px;
  vertical-align:-6px;
  line-height: 4px;
}
@media (min-width: 1440px) {
  .container-xl{
    max-width: 1440px;
  }
}